stages:
  - build
  - test
  - deploy_staging
  - deploy_production

before_script:
  - export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=128m"

build:
  stage: build
  script:
    - mvn compile

test:
  stage: test
  script:
    - mvn test

deploy_staging:
  stage: deploy_staging
  script:
    - pwd
    - mvn package
    - ssh cd sudo service ab-staging stop
    - scp -B target/active-bystander-1.0-SNAPSHOT-jar-with-dependencies.jar cd:staging/active-bystander-1.0-SNAPSHOT.jar
    - ssh cd sudo service ab-staging start
  only:
    - develop

deploy_production:
  stage: deploy_production
  script:
    - pwd
    - mvn package
    - ssh cd sudo service ab-production stop
    - scp -B target/active-bystander-1.0-SNAPSHOT-jar-with-dependencies.jar cd:production/active-bystander-1.0-SNAPSHOT.jar
    - ssh cd sudo service ab-production start
  only:
    - master
